html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

div{
    width: 200px;
    margin: auto;
    line-height: 9;

    text-align: center;
    color: white;

    border-radius: 10px;
    border: 1px solid rgb(139, 0, 0);

    text-shadow: 1px 1px 1px black;

    background-color: red;
    box-shadow: inset 2px 2px 3px rgba(red, green, blue, alpha),
                inset -2px -2px 3px rgba(black, black,black,alpha)
                2px 2px 5px black;
}